---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/global/Navigation.astro';
import Footer from '../components/global/Footer.astro';
import HeroSection from '../components/sections/HeroSection.astro';
import FeaturesSection from '../components/sections/FeaturesSection.astro';
import DownloadSection from '../components/sections/DownloadSection.astro';
import FAQSection from '../components/sections/FAQSection.astro';
import NewsletterSection from '../components/sections/NewsletterSection.astro';
---

<Layout title="Bookmark Landing Page">
	<div class="page-shell">
		<Navigation />
		<main>
			<HeroSection/>
			<FeaturesSection />
			<DownloadSection />
			<FAQSection />
			<NewsletterSection />
		</main>
		<Footer />
	</div>
</Layout>
