---
import FAQItem from './FAQItem.astro';
import Button from './ui/Button.astro';

interface FAQ {
  question: string;
  answer: string;
}

interface Props {
  items: FAQ[];
}

const { items } = Astro.props;
---

<section class="faq container" aria-label="Frequently asked questions" data-faq-list>
  {items.map((item, index) => <FAQItem question={item.question} answer={item.answer} index={index} />)}
  <Button href="#" class="faq-cta">More Info</Button>
</section>
