---
import logoBookmark from '../../assets/images/logo-bookmark.svg';
import iconFacebook from '../../assets/images/icon-facebook.svg';
import iconTwitter from '../../assets/images/icon-twitter.svg';
---

<footer class="site-footer">
  <div class="footer-inner container">
    <div class="footer-left">
      <a href="#" aria-label="Bookmark home">
        <img src={logoBookmark.src} class="footer-logo" alt="Bookmark" width="148" height="25" />
      </a>
      <nav aria-label="Footer navigation" class="footer-nav">
        <a href="#features">Features</a>
        <a href="#pricing">Pricing</a>
        <a href="#contact">Contact</a>
      </nav>
    </div>
    <div class="footer-socials">
      <a href="#" aria-label="Visit our Facebook page">
        <img src={iconFacebook.src} alt="" width="24" height="24" />
      </a>
      <a href="#" aria-label="Visit our Twitter page">
        <img src={iconTwitter.src} alt="" width="24" height="20" />
      </a>
    </div>
  </div>
</footer>

<style is:global>
.site-footer {
  background: var(--blue-950);
  padding-block: 2rem;
}

.footer-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.4rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-logo {
  filter: brightness(0) saturate(100%) invert(100%);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
  text-transform: uppercase;
  letter-spacing: 0.11em;
  font-size: 0.82rem;
  color: #fff;
}

.footer-nav a:hover,
.footer-nav a:focus-visible {
  color: var(--red-400);
  outline: 0;
}

.footer-socials {
  display: flex;
  gap: 2.2rem;
  align-items: center;
}

.footer-socials a:hover img,
.footer-socials a:focus-visible img {
  filter: brightness(0) saturate(100%) invert(49%) sepia(89%) saturate(1244%)
    hue-rotate(322deg) hue-rotate(0deg);
  outline: 0;
}

@media (min-width: 48em) {
  .site-footer {
    padding-block: 2.1rem;
  }

  .footer-inner,
  .footer-left {
    flex-direction: row;
    text-align: left;
  }

  .footer-inner {
    justify-content: space-between;
    gap: 1.5rem;
  }

  .footer-left {
    gap: 4rem;
  }

  .footer-nav {
    flex-direction: row;
    gap: 2.65rem;
  }
}
</style>
